<nav class="navbar">
	<div class="container-fluid">
		<a class="navbar-brand fs-1" href="/">
			The Tech Blog
		</a>
		<div class="collapse navbar-collapse" id="navbar"></div>
		<ul class="navbar-nav flex-row me-4 fs-3">
			<li class="nav-item"><a class="nav-link active mx-2" href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link active mx-2" href="/dashboard">Dashboard</a></li>
    {{#if logged_in}}
			<li class="nav-item"><a class="nav-link active mx-2" id="logout" href="#">Log Out</a></li>
			<script src="/js/logout.js"></script>
    {{else}}

			<li class="nav-item"><a class="nav-link active mx-2" href="/login">Log In</a></li>
    {{/if}}
		</ul>
	</div>
	</div>
</nav>