<section class="card">
  <div class="post">
    <header class="post-title">{{title}}</header>
    <p class="post-body">{{content}}</p>
    {{!-- testing posts without user and time --}}
    {{!-- <p class="post-desc">Posted by {{username}} on {{created_at}}</p> --}}
  </div>
</section>