<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>The Tech Blog</title>
</head>

<body>
    {{!-- might have problem with loggedIn begin wrong var --}}
    {{> header logged_in}}
    <main>
        {{!-- <aside></aside> --}}
        <div class="post">
            {{{body}}}
        </div>
    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>