{{!-- post title, post content, post by, post date --}}
<div id="content">
    {{#if posts }}
    {{#each posts as |post|}}
    {{> postCard logged_in=logged_in }}
    {{/each}}
    {{else}}
    {{/if}}
</div>