nav {
    background-color: tomato;
}

html,
body {
    margin: 0;
    background-color: lavender;
    text-align: center;
}

input.form-input {
    width: 25vw;
    margin: 0 auto;
}

.login-card {
    margin: 1rem;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px 7% 16px 7%;
    width: 75vw;
    height: 100vh;
}

.card {
    flex-basis: 95%;
    margin: 16px 16px;
}

.card-body {
    padding: 0;
}

.card-title {
    display: flex;
    flex-direction: row;
    background-color: tomato;
    text-align: left;
    width: 100%
}

.post-title {

    width: 49%;
}

.post-desc {
    text-align: right;
    width: 49%;
}

.post-body {
    text-align: left;
}

.comment {
    text-align: left;
    width: 100%
}